<% include ../partials/header %>

    <h1>Teacher's Home Page</h1>

    <p>
        <% letter.forEach(function callback(letter, index){ %>
            <h2 id="fHeading">Letter <%= index+1 %></h2>
        <table class="table table-hover">
            <tr class="info">
                <td>Student's Name</td>
                <td><%= letter.author.username %></td>
            </tr>
            <tr>
                <td>Start Date</td>
                <td><%= letter.startDate %></td>
            </tr>
            <tr>
                    <td>End Date</td>
                    <td><%= letter.endDate %></td>
            </tr>            
            <tr>
                    <td>Leave Type</td>
                    <td><%= letter.leaveType %></td>
                </tr>            
            <tr>
                    <td>Reason</td>
                    <td><%= letter.reason %></td>
            </tr>            
            <tr>
                    <td>Requested At</td>
                    <td><%= letter.requestedAt %></td>
            </tr>            
            <tr>        
                <% if(!letter.approvalStatus.status){ %>
                    <td>Approval Status</td>
                    <td>False
                <% } else { %>
                    <td>Approval Status</td>
                    <td>True</td>
                <% } %>
            <tr>
                    <td>Approved At</td>
                    <td><%= letter.approvedAt %></td>
            </tr>
        </table>
        <% if(!letter.approvalStatus.status){ %>
            <a  class="btn btn-lg btn-primary btn-block" 
            href="letter/<%= letter._id %>/edit">
            Approve This Letter
            </a>
        <% } else { %>   
            <h2><span class="label label-primary full-width">Approved Already</span></h1>
        <% } %>
        <hr>
        <% }); %>
    </p>

<% include ../partials/footer %>