<% include ../partials/header %>

    <h1>Student's Home Page</h1>

    <p>
    <h2>Welcome, <span class="label label-default"><%= student.username %></span></h2>

        <a href="/letter/new">Add New Letter</a>

        <% student.letters.forEach(function callback(letter, index, array){ %>
        <h2 id="fHeading">Letter <% index %></h2>
            <table class="table table-hover">
                <tr>
                    <td>Start Date</td>
                    <td><%= letter.startDate %></td>
                </tr>
                <tr>
                    <td>End Date</td>
                    <td><%= letter.endDate %></td>
                </tr>
                <tr>
                    <td>Leave Type</td>
                    <td><%= letter.leaveType %></td>
                </tr>                    
                <tr>
                    <td>Reason</td>
                    <td><%= letter.reason %></td>
                </tr>
                <tr>
                    <td>Requested At</td>
                    <td><%= letter.requestedAt %></td>
                </tr>
                <tr>
                    <% if(!letter.approvalStatus.status){ %>
                        <td>Approval Status</td>
                        <td>False</td>
                    <% } else { %>
                        <td>Approval Status</td>
                        <td>True</td>
                    <% } %>
                </tr>
                <tr>
                    <td>Approved At</td>
                    <td><%= letter.approvedAt %></td>
                </tr>
                <% }); %>
            </table>
            <hr>
    </p>
<% include ../partials/footer %>